/* Autor: Petar Repac*/


/* Udredjenje pocetne stranice*/

#search h1 {
    margin:2rem;
}
#search{

}
#posts, #sidebar {
 padding-top: 0rem;
}

/* Uredjenje stranice definicije*/
#comment-section h1 {
  font-size: 2rem;
}

div.spotlight.comment{
  border-bottom:1px solid rgb(202, 202, 202);
  padding:0.5rem;
}

div.spotlight.comment h2{
  font-weight: 400;
  font-size: 1.2rem;
  padding:0;
  margin:0;
}

div.spotlight.comment p{
  padding: 0;
  margin: 0;
}

#post-comment{ 
  text-align: center;
  width:auto;
}

/* Pisanje objave */
header.major.post-form{
  margin-bottom: 1rem;
}

#post-form{
  margin:0;
  padding:0 2rem 2rem 2rem;
}

#post-form form{
  margin:0; 
  padding:0;
}

/* Definicija - feed*/
.spotlight.post {
  margin-bottom: 2rem;
}

.post.spotlight .content{
  padding:1.5rem;
}

.post .button::after{
  display: none;
}
.post .button {
  font-size: 1.5rem;
  padding: 0 1rem 0 1rem;
}
.button.like {
  background-color: #2ecc71;  
}

.button.like:hover {
  background-color: #27ae60;  
}

.button.dislike {
  background-color: #e74c3c;
}

.button.dislike:hover {
  background-color: #c0392b;
}

.button.comment {
  background-color: #f1c40f;
}

.button.comment:hover {
  background-color: #f39c12;
}

/* Pagination */
ul.pagination {
  padding: 0.5em;
  text-align: center;
  list-style-type: none;
  background-color: #1f1f24;
}

ul.pagination li:first-child {
  padding-right: 0.75em;
} 
ul.pagination li {
  display: inline-block;
  padding-left: 0.5em;
  vertical-align: middle;
}

ul.pagination li a{
  font-weight: bold;
  font-size: 1.8em;
  text-decoration: none;
}

ul.pagination li a.button{ 
  font-size: 1em; 
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 10px;
  }
   
  ::-webkit-scrollbar-track {
    background: #333;
  }
   
  ::-webkit-scrollbar-thumb {
    background: #ff1a87; 
  }
   